*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   background-color: #e8f1f8;
}
.container{
   background-color: #f9f8ff;
   margin-left: 10%;
   border-radius: 30px;
   width: 80%;
   margin-right: 10%;
   
}
.side-container{
   height: 85vh;
   max-width: 300px;
   background-color: #fff;
   margin: 50px;
   margin-left: 0;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
}
.side-container input{
   border: 2px solid #66d3fa;
  padding: 10px;
  margin-left: 20px;
  margin-top: 40px;
  width: 80%;
  color: #66d3fa;
  background-color: #fff;
  

}
.side-container input::placeholder{
   color: #66d3fa;
}
.side-container input:focus{
  
   border: 2px solid #66d3fa;
}
.search-icon{
   height: 25px;
   width: 25px;
   color: #66d3fa;
   background-color: #fff;
   margin-left: -30px;
   margin-bottom: -9px;
   cursor: pointer;
}
